In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import plotly.plotly as py
from plotly.graph_objs import *
import plotly.tools as tls

%matplotlib inline

/Users/boone/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:

years = [1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014]
health_care_expenditure = [24271,25531,27497,30628,34405,37155,38016,39546,49918,50853,54692,57785,60412,61947,65058,67141,68553]

In [29]:
df = pd.read_csv('statistic_id263401_apple-iphone-unit-sales-worldwide-2007-2016-by-quarter.csv', header = 1)

In [30]:
df

   quarter  year  sales
0       Q3  2007   0.27
1       Q4  2007   1.12
2       Q1  2008   2.32
3       Q2  2008   1.70
4       Q3  2008   0.72
5       Q4  2008   6.89
6       Q1  2009   4.36
7       Q2  2009   3.79
8       Q3  2009   5.21
9       Q4  2009   7.37
10      Q1  2010   8.74
11      Q2  2010   8.75
12      Q3  2010   8.40
13      Q4  2010  14.10
14      Q1  2011  16.24
15      Q2  2011  18.65
16      Q3  2011  20.34
17      Q4  2011  17.07
18      Q1  2012  37.04
19      Q2  2012  35.06
20      Q3  2012  26.03
21      Q4  2012  26.91
22      Q1  2013  47.79
23      Q2  2013  37.43
24      Q3  2013  31.24
25      Q4  2013  33.80
26      Q1  2014  51.03
27      Q2  2014  43.72
28      Q3  2014  35.20
29      Q4  2014  39.27
30      Q1  2015  74.47
31      Q2  2015  61.17
32      Q3  2015  47.53
33      Q4  2015  48.05
34      Q1  2016  74.78

In [31]:
df.columns

Index([u'quarter', u'year', u'sales'], dtype='object')

In [34]:
sales_year = df.groupby('year')

In [45]:
sales_year.sum().sales[2008]

11.629999999999999

In [49]:
years_i = [2007,2008,2009,2010,2011,2012,2013,2014]
sales = [sales_year.sum().sales[year]*1000 for year in years_i]

In [52]:
health_expend = Scatter(
       x=years,
       y=health_care_expenditure,
       mode='markers+lines',
       name = 'health care expenditure',
       text = health_care_expenditure
)

iphone_sales = Scatter(
       x=years_i,
       y=sales,
       mode='markers+lines',
       name = 'very scary',
       text = sales
)


layout = Layout(
    title='Health care expenditure in the Netherlands',
    xaxis=XAxis(
        title='years',
        titlefont=Font(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    ),
    yaxis=YAxis(
        title='health care expenditure',
        titlefont=Font(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    )
)




data = Data([health_expend,iphone_sales])
fig = Figure(data=data, layout=layout)

#fig['layout']['xaxis'].update(range=[0, 600])
#fig['layout']['yaxis'].update(range=[0, 600])


py.plot(fig, filename='health care expenditure')

u'https://plot.ly/~janboone/204'